@model Ichari.Model.UserResetPassword
@section Head{
    <link type="text/css" rel="stylesheet" href="@(Ichari.Common.WebUtils.GetAppSettingValue(Ichari.Web.StaticKey.StaticServer))/Content/css/part_a.css" />
}
@{
    ViewBag.Title = "密码重置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    <div class="clears main">
        <!-- 验证开始 -->
        <div class="mainbox">
            <h3 class="guide">
                密码重置
            </h3>
            <fieldset class="login reg">
                @*<p>
                    <label>用户名：</label>@Html.TextBoxFor(m => m.UserName, new { @class = "inp_normal", title = "请输入用户名" })
                    <span class="err">@Html.ValidationMessageFor(m => m.UserName)</span>
                </p>
                <p>
                    <label>邮箱地址：</label>@Html.TextBoxFor(m => m.Email, new { @class = "inp_normal", title = "请输入邮箱地址" })
                    <span class="err">@Html.ValidationMessageFor(m => m.Email)</span>
                </p>*@
                <p>
                    <label>新密码：</label>
                    <span class="error_box">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "inp_normal", title = "6-16个字符，建议使用字母、数字组合，混合大小写" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "icon_error" })
                    </span>
                    <span>6-16个字符，建议使用字母、数字组合，混合大小写</span>
                </p>
                <p>
                    <label>密码确认：</label>
                    <span class="error_box">
                        @Html.PasswordFor(m => m.ConfirmNewPwd, new { @class = "inp_normal", title = "请再次输入密码" })
                        @Html.ValidationMessageFor(m => m.ConfirmNewPwd, "", new { @class = "icon_error" })
                    </span>
                    <span>请再次输入密码</span>
                </p>
                <p>
                    <input type="submit" class="btn_big" value="确认并保存" />
                </p>
                <div style="margin-left:100px;color:Red;height:20px;margin-top:20px;">@Html.ValidationSummary(true)</div>
            </fieldset>
        </div>
        <!-- 验证结束 -->
        <div class="team">  
            <p>支持单位：
                <a href="#">民政部</a>
                <a href="#">文化部</a>
                <a href="#">工信部</a>
                <a href="#">教育部</a>
                <a href="#">国家旅游局</a>
                <a href="#">中国福利彩票</a>
                <a href="#">中国体育彩票</a>
                <a href="#">新濠集团</a>
            </p>
            <p>合作媒体：
                <a href="#">新华网</a>
                <a href="#">凤凰网</a>
                <a href="#">华夏时报</a>
            </p>
        </div>
    </div>
}