@{
    ViewBag.Title = "招聘";
}

@section Head{
    <link type="text/css" rel="stylesheet" href="@(Ichari.Common.WebUtils.GetAppSettingValue(Ichari.Web.StaticKey.StaticServer))/Content/css/part_a.css" />
}

<div class="pt10"><img src="@(Ichari.Common.WebUtils.GetAppSettingValue(Ichari.Web.StaticKey.StaticServer))/Content/images/0000000_2.jpg" width="970" height="141" /></div>
<div class="pt10">
    <div class="fl bs6">
        <div class="title bg1x bgp3">关于我们</div>
        <ul class="lists">
            <li><a href="/Home/AboutUs">关于我们</a></li>
            <li><a href="/home/intro">项目介绍</a></li>
            <li><a href="/Home/CustomerSupport">客户服务</a></li>
            <li class="c">招聘</li>
            <li><a href="/Home/Contact">联系我们</a></li>            
        </ul>
    </div>
    <div class="fl bs7">
   	<div class="title bg1x bgp6"><span class="bg1x bgp1">招聘</span></div>
        <div class="text">
            <p ><strong>公司业务和团队都处于快速扩张时期，诚邀天下对投资和博弈市场有兴趣的青年才俊加盟。只要你有理想有能力，这里就有足够的空间供你展示！</strong></p>
            <p > </p>
           	<p > </p>
            <p ><strong>优厚的薪酬福利 </strong></p>
            <p >公司为每一位辛勤工作的员工提供具有行业竞争力的的薪酬，同时还有五险一金、补充医疗、带薪年假、工龄补贴、生日关怀、员工午餐、笔记本补助、过节费、年终奖金、彩票补助、年度出游等福利。 </p>
            <p><strong>丰富的员工活动（图片为参考） </strong></p>
           	<p >公司每季度组织出游、聚餐等活动，同时，为丰富员工生活，组建了一系列员工活动俱乐部，如游泳、篮球、足球、羽毛球等。让员工在工作之余得到心灵的愉悦与健康。 </p>
            <p class="tc"><img src="@(Ichari.Common.WebUtils.GetAppSettingValue(Ichari.Web.StaticKey.StaticServer))/Content/images/center_02.jpg" width="331" height="221" /></p>
            <p class="tc"><img src="@(Ichari.Common.WebUtils.GetAppSettingValue(Ichari.Web.StaticKey.StaticServer))/Content/images/center_03.jpg" width="331" height="221" /></p>
            <p class="tc"><img src="@(Ichari.Common.WebUtils.GetAppSettingValue(Ichari.Web.StaticKey.StaticServer))/Content/images/center_04.jpg" width="331" height="221" /></p>
            <p class="tc" ><strong>充满朝气的团队</strong></p>
            <p class="tc"><img src="@(Ichari.Common.WebUtils.GetAppSettingValue(Ichari.Web.StaticKey.StaticServer))/Content/images/center_05.jpg" width="331" height="221" /></p>
            <p class="tc"><img src="@(Ichari.Common.WebUtils.GetAppSettingValue(Ichari.Web.StaticKey.StaticServer))/Content/images/center_06.jpg" width="331" height="221" /></p>
            <p class="tc"><img src="@(Ichari.Common.WebUtils.GetAppSettingValue(Ichari.Web.StaticKey.StaticServer))/Content/images/center_07.jpg" width="331" height="221" /></p>
            <p><strong>公司业务和团队都处于快速扩张时期，诚邀天下对投资和博弈市场有兴趣的青年才俊加盟。只要你有理想有能力，这里就有足够的空间供你展示！ </strong></p>
            <p class="tc">&nbsp;</p>
            <p class="a126">&nbsp;</p>
        </div>
    </div>
</div>