@model Ichari.Model.Validation.WinningRegistration

@{
    ViewBag.Title = "ClaimPrize";
}

@section Head{
    <link type="text/css" rel="stylesheet" href="@(Ichari.Common.WebUtils.GetAppSettingValue(Ichari.Web.StaticKey.StaticServer))/Content/css/part_a.css" />

}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#agreement").click(function () {
            var t = $(this).attr("checked");
            if (t) {
                $("#btnSubmit").attr("disabled", false).parent().removeClass("dis");
            }
            else {
                $("#btnSubmit").attr("disabled", true).parent().addClass("dis");
            }
        });
    });
</script>

@using (Ajax.BeginForm(new AjaxOptions() { OnSuccess = "succ" }))
{
<div class="clears main">
    <div id="step1" class="mainbox">
        <h3 class="guide">
            恭喜中奖！如果您已经有了一个积善网的帐号，即可在此 <a href="#" onclick="callLogin">登录</a>
        </h3>
        <div class="b_crumbs">
            <b class="af00">！</b>带有<b class="af00">*</b>为必填项。
        </div>
        <fieldset class="login reg">
            <div style="color:red;height:20px;">@Html.ValidationSummary(true)</div>
            <p>
                <label></label>
                <span class="error_box">
                    @Html.CheckBoxFor(m => m.DefaultAddr)
                    默认地址
                </span>
            </p>
            <p>
                @Html.LabelFor(m => m.UserName)
                <span class="error_box">
                    @Html.TextBoxFor(m => m.UserName, new { name = "name", @class = "inp_normal" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "icon_error" })
                </span>
                <span><b class="af00">*&nbsp;&nbsp;</b>4-16个字符，可以使用字母，汉字，数字，下划线</span>
            </p>
            <p>
                @Html.LabelFor(m => m.Password)
                <span class="error_box">
                    @Html.PasswordFor(m => m.Password, new { name = "pwd", @class = "inp_normal" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "icon_error" })
                </span>
                <span><b class="af00">*&nbsp;&nbsp;</b>6-16个字符，建议使用字母、数字组合，混合大小写</span>
            </p>
            <p>
                <label>@Html.LabelFor(m => m.ConfirmPwd)</label>
                <span class="error_box">
                    @Html.PasswordFor(m => m.ConfirmPwd, new { @class = "inp_normal" })
                    @Html.ValidationMessageFor(m => m.ConfirmPwd, "", new { @class = "icon_error" })
                </span>
                <span><b class="af00">*&nbsp;&nbsp;</b>请再次输入密码</span>
            </p>
            <p>
                <label>@Html.LabelFor(m => m.Email)</label>
                <span class="error_box">
                    @Html.TextBoxFor(m => m.Email, new { @class = "inp_normal" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "icon_error" })
                </span>
                <span><b class="af00">*&nbsp;&nbsp;</b>请输入正确邮箱地址</span>
            </p>
            <p>
                <label>@Html.LabelFor(m => m.Name)</label>
                <span class="error_box">
                    @Html.TextBoxFor(m => m.Name, new { @class = "inp_normal" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "icon_error" })
                </span>
                <span><b class="af00">*&nbsp;&nbsp;</b></span>
            </p>
            <p>
                <label>@Html.LabelFor(m => m.Cell)</label>
                <span class="error_box">
                    @Html.TextBoxFor(m => m.Cell, new { @class = "inp_normal" })
                    @Html.ValidationMessageFor(m => m.Cell, "", new { @class = "icon_error" })
                </span>
                <span><b class="af00">*&nbsp;&nbsp;</b></span>
            </p>
            <p>
                <label>@Html.LabelFor(m => m.Tel)</label>
                <span class="error_box">
                    @Html.TextBoxFor(m => m.Tel, new { @class = "inp_normal" })
                </span>
                <span><b class="af00">&nbsp;&nbsp;</b></span>
            </p>
            <p>
                <label>@Html.LabelFor(m => m.Province)</label>
                <span class="error_box">
                    @Html.TextBoxFor(m => m.Province, new { @class = "inp_normal" })
                    @Html.ValidationMessageFor(m => m.Province, "", new { @class = "icon_error" })
                </span>
                <span><b class="af00">*&nbsp;&nbsp;</b></span>
            </p>
            <p>
                <label>@Html.LabelFor(m => m.City)</label>
                <span class="error_box">
                    @Html.TextBoxFor(m => m.City, new { @class = "inp_normal" })
                    @Html.ValidationMessageFor(m => m.City, "", new { @class = "icon_error" })
                </span>
                <span><b class="af00">*&nbsp;&nbsp;</b></span>
            </p>
@*            <p>
                <label>@Html.LabelFor(m => m.Area)</label>
                <span class="error_box">
                    @Html.TextBoxFor(m => m.Area, new { @class = "inp_normal" })
                    @Html.ValidationMessageFor(m => m.Area, "", new { @class = "icon_error" })
                </span>
                <span></span>
            </p>*@
            <p>
                <label>@Html.LabelFor(m => m.Street)</label>
                <span class="error_box">
                    @Html.TextBoxFor(m => m.Street, new { @class = "inp_normal" })
                    @Html.ValidationMessageFor(m => m.Street, "", new { @class = "icon_error" })
                </span>
                <span><b class="af00">*&nbsp;&nbsp;</b></span>
            </p>
            <p>
                <label>@Html.LabelFor(m => m.Postal)</label>
                <span class="error_box">
                    @Html.TextBoxFor(m => m.Postal, new { @class = "inp_normal" })
                    @Html.ValidationMessageFor(m => m.Postal, "", new { @class = "icon_error" })
                </span>
                <span><b class="af00">*&nbsp;&nbsp;</b></span>
            </p>
            <p style="height:42px;">
                <label>验证码：</label>
                <span class="error_box" style="width:105px;">
                    @Html.TextBoxFor(m => m.Captcha, new { @class = "inp_short" })
                    @Html.ValidationMessageFor(m => m.Captcha, "", new { @class = "icon_error" })
                </span>
                <span id="gn" class="cp_img"><img id="capImg" src="@Url.Action("CaptchaImg", "Account")" alt="验证码" style="vertical-align:top;" /></span>
                @Ajax.ActionLink("换一张", "ChangeCaptcha", "Account", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "gn" })
            </p>
            <p>
                <label class="statement" for="statement"><input id="agreement" name="agreement" type="checkbox" />
                我已年满18周岁而且同意《<a href="#">网站用户条款</a>》。
                <span class="err"></span></label>
            </p>
            <p style="margin:10px;">             
                <span class="dis"><input id="btnSubmit" type="submit" class="btn_big" value="立即注册" disabled="disabled" /></span>
            </p>
        </fieldset>
    </div>
</div>
}